{{#each summaryAttributes as |attribute|}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">
            {{#if attribute.display}}
              {{attribute.display}}:
            {{else}}
              {{humanize (dasherize attribute.name)}}:
            {{/if}}
            {{#if (eq attribute.type 'date')}}
                {{moment-format attribute.value 'L LTS' timeZone=timezone}}
            {{else if (eq attribute.type 'array')}}
                {{#each attribute.value as | value |}}
                    <span class="array-item">{{value}}</span>
                {{/each}}
            {{else}}
                {{attribute.value}}
            {{/if}}
        </span>
    </span>
{{/each}}
