{{#each summaryAttributes as |attribute|}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
        <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">
            {{#if (eq attribute.type 'date')}}
                {{attribute.display}}: {{moment-format attribute.value 'L LTS' timeZone=timezone}}
            {{else}}
                {{attribute.display}}: {{attribute.value}}
            {{/if}}
        </span>
    </span>
{{/each}}
