<h1 class="p-title">
    {{fa-icon "user" fixedWidth=true}} User Info
</h1>
{{#each details.userDetailsList as |attribute|}}
    <div>
        {{#if attribute.display}}
          <span class="p-key">{{attribute.display}}: </span>
        {{else}}
          <span class="p-key">{{humanize (dasherize attribute.name)}}: </span>
        {{/if}}
        {{#if (eq attribute.type 'array')}}
            {{#each attribute.value as | value |}}
                <div class="array-list-item p-value">{{value}}</div>
            {{/each}}
        {{else if (eq attribute.type 'tag')}}
            {{#each attribute.value as | value |}}
              <span class="tag">{{value}}</span>
            {{/each}}
        {{else if (eq attribute.type 'date')}}
                <span class="p-value">{{moment-format attribute.value 'L LTS' timeZone=timezone}}</span>
        {{else}}
                <span class="p-value">{{attribute.value}}</span>
        {{/if}}
    </div>
{{/each}}
